<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.solfood.admin.home.AdminMapper">
    <select id="getUsers" parameterType="String" resultType="kr.co.solfood.admin.dto.UserSearchResponseDTO">
        SELECT
        U.users_id,
        users_profile,
        users_name,
        users_nickname,
        users_login_type,
        users_email,
        department_name,
        YEAR(CURDATE()) - YEAR(users_birth) AS usersAge,
        users_gender,
        users_status,
        users_rejected_reason
        FROM users U
        JOIN department D ON U.department_id = D.department_id
        <where>
            <if test="query != null and query != ''">
                users_name LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
        ORDER BY U.users_id
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="userManagementChartByYears" resultType="kr.co.solfood.admin.dto.ChartRequestDTO">
        SELECT YEAR (users_created_at) AS createdAt, COUNT (*) userCount
        FROM users
        GROUP BY YEAR (users_created_at);
    </select>

    <select id="userManagementChartByMonths" resultType="kr.co.solfood.admin.dto.ChartRequestDTO">
        SELECT MONTH (users_created_at) AS createdAt, COUNT (*) userCount
        FROM users
        GROUP BY MONTH (users_created_at);
    </select>

    <select id="userManagementChartByDays" resultType="kr.co.solfood.admin.dto.ChartRequestDTO">
        SELECT DAY (users_created_at) AS createdAt, COUNT (*) userCount
        FROM users
        GROUP BY DAY (users_created_at);
    </select>

    <select id="getOwners" parameterType="kr.co.solfood.admin.dto.OwnerSearchRequestDTO"
            resultType="kr.co.solfood.admin.dto.OwnerSearchResponseDTO">
        SELECT O.owner_id AS ownerId,
        store_mainimage,
        store_name,
        owner_email,
        category_name,
        store_avgstar,
        owner_tel,
        store_tel,
        store_address,
        store_intro,
        store_status,
        store_reject_reason
        FROM owner O
        JOIN store S ON O.owner_id = S.owner_id
        JOIN category C ON S.category_id = C.category_id
        <where>
            <if test="query != null and query != ''">
                store_name LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
        ORDER BY O.owner_id
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="detailStoreInfo" parameterType="String" resultType="kr.co.solfood.admin.dto.OwnerSearchResponseDTO">
        SELECT O.owner_id,
        store_mainimage,
        store_name,
        owner_email,
        category_name,
        store_avgstar,
        owner_tel,
        store_tel,
        store_address,
        store_intro,
        store_status,
        store_reject_reason
        FROM owner O
        JOIN store S ON O.owner_id = S.owner_id
        JOIN category C ON S.category_id = C.category_id
        <where>
            <if test="ownerId != null and ownerId != ''">
                O.owner_id = #{ownerId}
            </if>
        </where>
    </select>

    <select id="getOwnersCount" resultType="int">
        SELECT COUNT(*)
        FROM owner O
        JOIN store S ON O.owner_id = S.owner_id
        JOIN category C ON S.category_id = C.category_id
        <where>
            <if test="query != null and query != ''">
                store_name LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
    </select>

    <select id="getUsersCount" resultType="int">
        SELECT COUNT(*)
        FROM users U
        JOIN department D ON U.department_id = D.department_id
        <where>
            <if test="query != null and query != ''">
                users_name LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
    </select>

    <update id="updateStoreStatus" parameterType="kr.co.solfood.admin.dto.StoreStatusUpdateDTO">
        UPDATE store
        <set>
            store_status = #{storeStatus}
            <if test="storeRejectReason != null">
                , store_reject_reason = #{storeRejectReason}
            </if>
        </set>
        WHERE owner_id = #{ownerId}
    </update>

    <update id="updateUserStatus" parameterType="kr.co.solfood.admin.dto.UserStatusUpdateDTO">
        UPDATE users
        <set>
            users_status = #{usersStatus}
            <if test="usersRejectReason != null">
                , users_rejected_reason = #{usersRejectReason}
            </if>
        </set>
        WHERE users_id = #{usersId}
    </update>

    <select id="getCommunityResponsesCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM board B
        JOIN users U ON B.users_id = U.users_id
        <where>
            <if test="query != null and query != ''">
                users_nickname LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
    </select>

    <select id="communityResponses" parameterType="kr.co.solfood.admin.dto.CommunityRequestDto"
            resultType="kr.co.solfood.admin.dto.CommunityResponseDto">
        SELECT B.board_id,
        U.users_id,
        U.users_nickname,
        B.board_title,
        B.board_status,
        B.board_date,
        B.board_viewcount
        FROM board B
        JOIN users U ON B.users_id = U.users_id
        <where>
            <if test="query != null and query != ''">
                U.users_nickname LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
        ORDER BY B.board_id
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getOwnerReviewsCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM review R
        JOIN users U ON R.users_id = U.users_id
        JOIN store S ON R.store_id = S.store_id
        <where>
            review_status = 'Y'
            <if test="query != null and query != ''">
                AND review_content LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
    </select>

    <select id="getOwnerReviews" parameterType="kr.co.solfood.admin.dto.OwnerReviewRequestDto"
            resultType="kr.co.solfood.admin.dto.OwnerReviewResponseDto">
        SELECT R.review_id,
        U.users_id,
        S.store_id,
        R.review_star,
        R.review_content,
        R.review_date
        FROM review R
        JOIN users U ON R.users_id = U.users_id
        JOIN store S ON R.store_id = S.store_id
        <where>
            review_status = 'Y'
            <if test="query != null and query != ''">
                AND review_content LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
        ORDER BY R.review_id
        LIMIT #{offset}, #{pageSize}
    </select>

    <update id="deleteOwnerReview" parameterType="long">
        UPDATE review
        SET review_status = 'N'
        WHERE review_id = #{reviewId}
    </update>


    <select id="getPayments" parameterType="kr.co.solfood.admin.dto.PaymentSearchRequestDto"
            resultType="kr.co.solfood.admin.dto.PaymentSearchResponseDto">
        SELECT
        P.payment_id,
        U.users_name,
        P.payment_paid_amount,
        P.payment_used_point,
        P.payment_method,
        P.payment_pg_provider,
        P.payment_receipt_url,
        P.payment_status,
        P.payment_created_at
        FROM payment P
        JOIN users U ON P.users_id = U.users_id
        <where>
            <if test="query != null and query != ''">
                U.users_name LIKE CONCAT('%', #{query}, '%')
            </if>
            <if test="fromDate != null and fromDate != '' and toDate != null and toDate != ''">
                P.payment_created_at BETWEEN #{fromDate} AND #{toDate}
            </if>
        </where>
        ORDER BY P.payment_id
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getPaymentsCount" parameterType="kr.co.solfood.admin.dto.PaymentSearchRequestDto" resultType="int">
        SELECT COUNT(*)
        FROM payment P
        JOIN users U ON P.users_id = U.users_id
        <where>
            <if test="query != null and query != ''">
                O.store_name LIKE CONCAT('%', #{query}, '%')
            </if>
            <if test="fromDate != null and fromDate != '' and toDate != null and toDate != ''">
                P.payment_created_at BETWEEN #{fromDate} AND #{toDate}
            </if>
        </where>
    </select>
</mapper>