<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solfood.user.login.LoginMapper">

    <!-- 카카오 유저 확인 (최초 가입) -->
    <select id="kakaoLogin" parameterType="Long"
            resultType="kr.co.solfood.user.login.LoginVO">
        SELECT *
        FROM Users
        WHERE USERS_KAKAO_ID = #{usersKakaoId}
    </select>

    <!-- 유저 회원 가입 (공용) -->
    <insert id="register"
            parameterType="kr.co.solfood.user.login.LoginVO">
        INSERT INTO Users (COMPANY_ID, DEPARTMENT_ID, USERS_EMAIL, USERS_NICKNAME, USERS_PROFILE, USERS_NAME,
                           USERS_POINT, USERS_GENDER, USERS_KAKAO_ID, USERS_LOGIN_TYPE, USERS_TEL,
                           USERS_JOIN_DATE, USERS_ENTER_DATE, USERS_STATUS)
        VALUES (#{companyId}, #{departmentId}, #{usersEmail}, #{usersNickname}, #{usersProfile}, #{usersName},
                #{usersPoint}, #{usersGender}, #{usersKakaoId}, #{usersLoginType}, #{usersTel},
                #{usersJoinDate}, #{usersEnterDate}, #{usersStatus})
    </insert>


</mapper>