<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solfood.owner.menu.OwnerMenuMapper">

    <!--메뉴 등록-->
    <insert id="insertMenu" parameterType="kr.co.solfood.owner.menu.OwnerMenuVO">
        INSERT INTO menu (
            store_id,
            menu_name,
            menu_price,
            menu_mainimage,
            menu_intro,
            menu_extra
        )
        VALUES (
           #{storeId},
           #{menuName},
           #{menuPrice},
           #{menuMainimage},
           #{menuIntro},
           #{menuExtra}
        )
    </insert>

    <!--메뉴 조회-->
    <select id="selectMenu" parameterType="int" resultType="kr.co.solfood.owner.menu.OwnerMenuVO">
        SELECT menu_id,store_id,menu_name,menu_price,menu_mainimage,menu_intro,menu_extra
        FROM menu
        WHERE store_id=#{storeId}
    </select>

    <!--메뉴 단건 조회-->
    <select id="getMenuById" parameterType="int" resultType="kr.co.solfood.owner.menu.OwnerMenuVO">
        SELECT menu_id,store_id,menu_name,menu_price,menu_mainimage,menu_intro,menu_extra
        FROM menu
        WHERE menu_id=#{menuId}
    </select>

    <!--메뉴 수정-->
    <update id="updateMenu" parameterType="kr.co.solfood.owner.menu.OwnerMenuVO">
        UPDATE menu
        SET
            store_id = #{storeId},
            menu_name =#{menuName},
            menu_price =#{menuPrice},
            menu_mainimage =#{menuMainimage},
            menu_intro =#{menuIntro},
            menu_extra =#{menuExtra}
        WHERE menu_id=#{menuId}
    </update>

    <!--메뉴 삭제-->
    <delete id="deleteMenu" parameterType="int">
        DELETE
        FROM menu
        WHERE menu_id=#{menuId}
    </delete>
</mapper>