<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solfood.owner.store.OwnerStoreMapper">

    <!--카테고리 조회-->
    <select id="selectAllCategory" resultType="kr.co.solfood.owner.store.OwnerCategoryVO">
        SELECT *
        FROM category
    </select>

    <!--상점 등록-->
    <insert id="insertStore" parameterType="kr.co.solfood.owner.store.OwnerStoreVO">
        INSERT INTO store (
            owner_id,
            category_id,
            store_name,
            store_address,
            store_latitude,
            store_longitude,
            store_intro,
            store_mainimage,
            store_tel,
            store_status
        )
        VALUES (
            #{ownerId},
            #{categoryId},
            #{storeName},
            #{storeAddress},
            #{storeLatitude},
            #{storeLongitude},
            #{storeIntro},
            #{storeMainimage},
            #{storeTel},
            #{storeStatus}
        )
    </insert>

    <!--점주 상점 조회-->
    <select id="selectStoreById" parameterType="int" resultType="kr.co.solfood.owner.store.OwnerStoreVO">
        SELECT *
        FROM store
        WHERE owner_id=#{ownerId};
    </select>

    <!--상점 수정-->
    <update id="updateStore" parameterType="kr.co.solfood.owner.store.OwnerStoreVO">
        UPDATE store
        SET
            store_name = #{storeName},
            category_id = #{categoryId},
            store_address = #{storeAddress},
            store_latitude = #{storeLatitude},
            store_longitude = #{storeLongitude},
            store_intro = #{storeIntro},
            store_mainimage = #{storeMainimage},
            store_tel = #{storeTel},
            store_status = #{storeStatus}
        WHERE store_id = #{storeId}
    </update>

    <!--상점 삭제 -->
    <delete id="deleteSotre" parameterType="int">
        DELETE
        FROM store
        WHERE store_id = #{storeId}
    </delete>

</mapper>