<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.solfood.user.comment.CommentMapper">

    <!-- 댓글 등록 -->
    <insert id="insertComment" parameterType="kr.co.solfood.user.comment.CommentVO" >
        INSERT INTO comment  (
            users_id,
            board_id,
            comment_content,
            comment_date,
            comment_status,
            gno
        )
        VALUES (
                   #{usersId},
                   #{boardId},
                   #{commentContent},
                   NOW(),
                   #{commentStatus},
                   #{gno}
               )
    </insert>

    <!--게시글에 해당 하는 댓글 전체 조회 -->
    <select id="getCommentsByBoardId" parameterType="int" resultType="kr.co.solfood.user.comment.CommentVO">
--        SELECT *
--        FROM comment
--        WHERE board_id = #{boardId}
--        ORDER BY COALESCE(gno,comment_id),comment_id

        SELECT
            c.comment_id,
            c.board_id,
            c.comment_content,
            c.comment_date,
            c.gno,
            u.users_nickname AS comment_writer,  -- 작성자 닉네임
            u.users_profile AS comment_writer_image
        FROM comment c
        JOIN users u ON c.users_id = u.users_id
        WHERE c.board_id = #{boardId}
        AND c.comment_status = 1
    </select>

    <!--댓글 삭제-->
    <update id="deleteComment" parameterType="int">
        UPDATE comment
        SET comment_status = 0
        WHERE comment_id = #{commentId}
    </update>


</mapper>
